[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "philtomson.github.com"]
	path = philtomson.github.com
	url = git@github.com:philtomson/philtomson.github.com.git
	branch = master
